@import "materialize";

body {
	background-color: #efefef;
}

.container {
	padding: 0;
}

.card.login {
	margin-top: 0;
}

// signup
.signup {
	.card-image {
		width: 100px;
		margin: 0 auto;
		border-radius: 100px;
		height: 100px;
		overflow: hidden;
	}
}