<header>
	<nav>
		<div class="nav-wrapper">
			<a href="/" class="brand-logo">HealthWealth</a>
			<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
			<a href="#!" class="brand-logo">HealthWealth</a>
			<a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="mdi-navigation-menu"></i></a>
			<ul class="right hide-on-med-and-down">
				<li><a href="/call">Call Doctor</a></li>
				<li><a href="/appointment">Appointment</a></li>
				<li><a href="/pharmacy">Pharmacies</a></li>
				<li><a href="/er">ER</a></li>
			</ul>
			<ul class="side-nav" id="mobile-demo">
				<li><a href="/call"><i class="mdi-communication-location-on"></i>Call Doctor</a></li>
				<li><a href="/appointment"><i class="mdi-action-today"></i>Appointment</a></li>
				<li><a href="/pharmacy"><i class="mdi-maps-local-pharmacy"></i>Pharmacies</a></li>
				<li><a href="/er"><i class="mdi-maps-local-hospital"></i>Emergency Room</a></li>
			</ul>
		</div>
	</nav>	
</header>