<!DOCTYPE html>
<html>
<head>
	<title>HealthWealth</title>
</head>
<body>

	<div class="container">
		
		<div class="row">

			<div class="col s12">

				{{{body}}}	
				
			</div>

		</div>

	</div>
	
</body>
</html>