<!DOCTYPE html>
<html>
<head>
	<title>HealthWealth</title>
	<link rel="stylesheet" type="text/css" href="/css/materialize.min.css">
	<script type="text/javascript" src="/js/materialize.min.js"></script>
</head>
<body>
	{{{body}}}
</body>
</html>