{{> nav}}

<div class="container">
	<div class="card">
		<h2><a href="/call/profile">Dr. Lucy</a></h2>
		<h3>General Practioner</h3>
		<a href="tel:0218879551" class="waves-effect waves-light btn">Call</a>
		<a href="/call/profile" class="waves-effect waves-light btn">Request</a>
	</div>

	<div class="card">
		<ul class="collection">
			<li class="collection-item avatar">
				<img src="images/yuna.jpg" alt="" class="circle">
				<span class="title">Title</span>
				<p>First Line <br>Second Line</p>
				<a href="tel:0218879551" class="waves-effect waves-light btn">Call</a>
			<a href="/call/profile" class="waves-effect waves-light btn">Request</a>
			</li>
		</ul>
	</div>
	
</div>

	