{{> nav}}

<div class="container">
	<div class="card">
		<h2><a href="/call/profile">Dr. Lucy</a></h2>
		<h3>General Practioner</h3>
		<a href="tel:0218879551">Call</a>
		<a href="/call/profile">Request</a>
	</div>
</div>