{{> nav}}

<div class="container call">

	<div class="card">
		<ul class="collection">
			<li class="collection-item avatar">
				<img src="img/lucydoc.jpg" alt="" class="circle">
				<span class="title">Dr. Lucille Ball</span>
				<p>General Practioner</p>
				<p class="address">11 Yellowbrick road, Cape Town, 8001</p>
				<a href="tel:0218879551" class="waves-effect waves-light btn white-text">Call</a>
			<a href="/call/profile" class="waves-effect waves-light btn white-text">Info</a>
			</li>
		</ul>
	</div>

	<div class="card">
		<ul class="collection">
			<li class="collection-item avatar">
				<img src="img/lucydoc.jpg" alt="" class="circle">
				<span class="title">Dr. Lucille Ball</span>
				<p>General Practioner</p>
				<p class="address">11 Yellowbrick road, Cape Town, 8001</p>
				<a href="tel:0218879551" class="waves-effect waves-light btn white-text">Call</a>
			<a href="/call/profile" class="waves-effect waves-light btn white-text">Info</a>
			</li>
		</ul>
	</div>

	<div class="card">
		<ul class="collection">
			<li class="collection-item avatar">
				<img src="img/lucydoc.jpg" alt="" class="circle">
				<span class="title">Dr. Lucille Ball</span>
				<p>General Practioner</p>
				<p class="address">11 Yellowbrick road, Cape Town, 8001</p>
				<a href="tel:0218879551" class="waves-effect waves-light btn white-text">Call</a>
			<a href="/call/profile" class="waves-effect waves-light btn white-text">Info</a>
			</li>
		</ul>
	</div>

</div>

	