<div class="map">
	<img src="map.png" />
	<div class="card">
		<h2><a href="#">Dr. Lucy</a></h2>
		<h3>General Practioner</h3>
		<a href="tel:0218879551">Call</a>
		<a href="/map/active">Request</a>
	</div>
</div>