{{> nav}}

<div class="row">
	<div class="col s12">
		<div class="card no-margin">
			<div class="card-image">
				<img src="../img/lucydoc.jpg" alt="" class="circle">
				<span class="card-title">Dr. Lucille Ball</span>
			</div>
			<div class="card-content">
				<h5>General Practitioner</h5>
				<p>I am a general practitioner for the past 12 years, based in Cape Town.<br/>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
			<div class="card-action">
				<a href="tel:0218879551" class="btn white-text">Call</a>
				<a href="/map" class="btn white-text">Request</a>
			</div>
		</div>
	</div>
</div>