<div class="card no-margin">
	<div class="card-content">
		<div class="row">
			<h3>Register</h3>
			<form class="col s12">
				<div class="row">
					<div class="input-field col s12">
						<input id="name" type="text" class="validate">
						<label for="name">Name</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="email" type="email" class="validate">
						<label for="email">Email</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="password" type="password" class="validate">
						<label for="password">Password</label>
					</div>
				</div>
				<div class="row">
					<div class="col s12">
						<a href="/home" class="btn waves-effect waves-light white-text">Lets go!</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="load-screen valign-wrapper">
	<h1 class="valign logo"><img src="img/logo.png"></h1>
</div>
<script>
	$(document).ready(function(){
		setTimeout(function(){
			$('.load-screen').fadeOut(300);
		}, 3000);
	});
</script>